@import url("palette.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Source+Code+Pro:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
  
}

/* ...........................Navigation section................ */

nav {
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 100%;
}

.HYF-logo-formediaquary{
  margin: 2vh 2vh 2vh 4vh;
  height: 14vh;
  width: 20vh;
  display: none;
}

.HYF-logo {
  height: 23vh;
  width: 11vw;
  border-radius: 50%;
  position: relative;
  margin: 20px 5px 0px 18px;

}


button a {
 color:var(--secondary-color)
}
nav ul {
  justify-content: space-between;
  margin-right: 3%;
  font-weight: bold;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

.sub-button {
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.02rem;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 3px;
  height: 50px;
  width: 120px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

.sub-button:hover {
  border: 1px solid #4242b8;
  color: #161679;
  transition-duration: 1s;
  background-color: var(--primary-color);
}


  #collaspasbtn {
    margin-left: 120vh;
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 30px;
    cursor: pointer;
  display: none;
}


.Primary-button {
  color: var(--primary-color);
  background: var(--secondary-color);
  text-decoration: none;
  font-size: 1.06rem;
  text-transform: uppercase;
  height: 50px;
  width: 160px;
  border: none;
  font-weight: bold;
}

.Primary-button:hover {
  border: 1px solid #4242b8;
  transition: 0.5s;
  background-color: #2626b8;
  transition-duration: 1s;
}

#icon {
  font-size: 27px;
  color: var(--secondary-color);
  float: left;
  line-height: 55px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}


/* .................................slider....................................... */

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 130vh;
  background-image: url();
  background: 100%;
  animation: changeImage 20s linear infinite;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* background-size: contain; */
}

.slider .massage {
  display: flex;
  height: 90%;
  width: 90%;
  margin: auto;
  font-family: "Source Code Pro", monospace;
  flex-direction: column;
  align-items: center;
  /* z-index: -1; */
}

.slider .massage p {
 
  padding: 15vh 5vh 10vh 5vh;
  height: 140vh;
  width: 70vw;
  font-size: 4rem;
  color: var(--primary-color);
  font-weight: 800;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 2px;
  text-align: center;
}

@keyframes changeImage {
  0% {
    background-image: url(../images/1.jpg);
  }

  25% {
    background-image: url(../images/2.jpg);
  }

  50% {
    background-image: url(../images/3.jpg);
  }

  75% {
    background-image: url(../images/4.jpg);
  }

  100% {
    background-image: url(../images/5.jpg);
  }
}

/* ..........................................Goal section.............................................. */

.goal {
  height: 40vh;
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 0.4rem;
  margin-bottom: -10%;

  position: relative;
  border: 0.1rem solid var(--secondary-color);
}

.goal p {
  margin: 5vh 15vh 15vh 8vh;
  text-align: center;
  height: 30vh;
  width: 70vw;
  font-size: 1.2rem;
  font-family: "Source Code Pro", monospace;
  color: var(--secondary-color);
}

.goal:hover {
  height: 40.5vh;
  width: 80.5%;
  background-color: rgb(237, 235, 235);
  border-radius: 0.4rem;
  margin-bottom: -10%;
  box-shadow: 0.125rem 0.25rem 0.125rem 0.25rem #a09f9f;
  transition: 0.8s;
}




/*......................................information tab................................ */



.tab-contaner {
  display: flex;
  height: 200vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
;

}

.tabimage {
  margin: 0;
  height: 35vh;
  width: 28vw;
  border-radius: 6px;
}

.tab {
  height: 70vh;
  width: 28vw;
  box-shadow: 4px solid #020258;
  background-color: #e8e8e8;
  border-radius: 6px;

}

.tab:hover {
  height: 70.12vh;
  width: 28.12vw;
  box-shadow: 0px 0px 8px #141416;
  transition: 0.4s ease-in;
  cursor: pointer;

}

.tab h1 {
  text-align: center;
  color: var(--secondary-color);
  font-size: 1.25rem;
}

.tab p {
  height: 20vh;
  width: 60vh;
  margin: 0px 4px 1px 6px;
  font-size: 0.8rem;
  text-align: center;

}


/* ............................................footer-section................................................... */

.footer-container {
  display: flex;
  width: 100%;
  height: 20vh;
  background: var(--secondary-color);
  align-content: center;
}

.footer-container .f-text {
  align-items: center;
  color: var(--primary-color);
  flex: 2;
  padding: 40px 0px 30px 15px;
}

.social-logo {
  height: 40px;
  width: 40px;
  margin: 20px 20px 20px 20px;
}


/* ......................................media................................ */
@media only screen and (max-width: 952px) {
  .HYF-logo {
    height: 22vh;
    width: 10vw;
    position: relative;
    margin: 0px 5px 0px 18px;
  }

  nav ul li a {
    font-size: 16px;
    line-height: 20px;
  }

  nav {
    height: 25vh;
  }

  .goal {
    height: 50vh;
    width: 100%;
  }

  .goal:hover {
    height: 50vh;
    width: 100%;
  }

  .goal p {
    height: 30vh;
    width: 90vw;
  }

  .tab {
    height: 80vh;
  }

  .tab:hover {
    height: 80vh;
  }

  .footer-container {

    height: 30vh;
    flex-direction: column;
    align-items: center;

  }

  .footer-container .f-text {
    align-items: flex-start;
    margin: 10px 0px 2px 10px;
  }

  .social-logo {

    margin-top: -10px;


  }
}

@media only screen and (max-width: 858px) {
  #icon {
    display: block;
  }

  #icon:active {
    font-size: 23px;
  }


  .HYF-logo-formediaquary {
    display: block;
  }

  .HYF-logo {
    display: none;
  }

  #mylist {
    padding-top: 30px;
    position: fixed;
    width: 100%;
    height: 300vh;
    top: 0px;
    left: -800px;
    background-color: var(--secondary-color);
    text-align: center;
    transition: all .5s;
    z-index: 1;
    transition: 2s;

  }

  .sub-button {

    font-size: 1.06rem;
    border: 1px solid transparent;
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }

  .sub-button:hover {
    border-radius: 3px;
    width: 100%;
    color: var(--secondary-color);
    transition: 2s;
  }

  #collaspasbtn {
    display: block;
  }

  #collaspasbtn:active {
    font-size: 23px;
  }

  nav ul li {

    display: block;
    line-height: 1px;
  }

  .Primary-button {
    font-size: 1.06rem;
  }

  .Primary-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
  }

}


@media only screen and (max-width: 767px) {

  nav {
    height: 18vh;
    width: 100%;
  }

  /* .........................................slidermedia..................................... */
  .slider .massage p {
    font-size: 3rem;

  }

  /* ..........................................goalmedia...................................................... */
  .goal {
    height: 80vh;
    width: 100%;
  }

  .goal:hover {
    height: 60vh;
    width: 100%;
  }

  .goal p {
    margin: 3vh 5vh 0vh 5vh;
    align-items: center;
    height: 30vh;
    width: 80vw;
    font-size: 1rem;
    /* word-wrap: break-word; */

  }

  /* ...................................Tabmedia....................................... */
  .tab-contaner {
    margin-top: 20vh;
    height: 300vh;
    width: 100%;

    flex-direction: column;
  }

  .tab {
    height: 90vh;
    width: 50vw;
    box-shadow: 4px solid #020258;
    background-color: #e8e8e8;
    border-radius: 6px;
    margin-top: 5vh;
  }

  .tab:hover {
    height: 90.12vh;
    width: 50.12vw;
    box-shadow: 0px 0px 8px #141416;
    transition: 0.3s ease-in;
    cursor: pointer;

  }

  .tab h1 {
    text-align: center;
    margin-top: 5vh;
    color: var(--secondary-color);
    font-size: 1.25rem;
  }

  .tab p {
    height: 30vh;
    width: 46vw;
    font-size: 0.8rem;
    text-align: center;
    margin: 0vh 1vh 0vh 2vh;
  }

  .tabimage {
    height: 45vh;
    width: 50vw;
  }

  /* .......................................Footermedia............................ */
  .footer-container {
    display: flex;
    width: 100%;
    height: 40vh;
    background: var(--secondary-color);
    flex-direction: column;
    align-items: center;

  }

  .footer-container .f-text {
    align-items: center;
    color: var(--primary-color);
    text-align: center;
    font-size: .8rem;

  }

  .social-logo {
    height: 30px;
    width: 30px;
    align-items: center;
  }

  .f-row {
    margin-top: -20px;
    display: flex;

  }
  
  .goal p {
    margin: 7vh 5vh 5vh 10vh;
    align-items: center;
    height: 30vh;
    width: 80vw;
    font-size: 1rem;
  }
 
}

@media only screen and (max-width: 550px) {
  .goal {
    height: 150vh;
    width: 100%;
 

  }

  #collaspasbtn {
    margin-left: 70vh;
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 30px;
    cursor: pointer;
  }

  .goal p {
    margin: 3vh 5vh 5vh 7vh;
    align-items: center;
    height: 30vh;
    width: 80vw;
    font-size: .9rem;
  }

  .slider .massage p {
    margin-top: 5vh;
    padding: 8vh 5vh 10vh 5vh;
    height: 140vh;
    width: 90vw;
    font-size: 2.8rem;
  }
  .tab-contaner{
    margin-top: 40vh;
    /* height: 300vh;
    */

  }
  .tab{
    height: 90vh;
    width: 60vw;

  }
  .tab:hover {
    height: 90.12vh;
    width: 60.12vw;
    
  
  }

  .tabimage {
    height: 50vh;
    width: 60vw;
  }
  .tab p {
    height: 30vh;
    width: 50vw;
    margin: 0vh 0vh 0vh 5vh;
  }
}

@media only screen and (max-width: 420px) {

  .HYF-logo-formediaquary{
    margin: 1vh 1vh 1vh 2vh;
    height: 4.5vh;
    width: 6.5vh;
;
  }
  
  
  .goal {
    height: 18vh;
    width: 100%;
    margin-bottom: 0%;

  }

  .goal:hover{
    height: 18.2vh;
    width: 100.5%;
    font-size: .9rem;}

 .goal p{
 margin: 2vh 2vh 2vh 4.5vh;
 font-size: .8rem;
 }

 nav {
  height: 6vh;
  width: 100%;
}

.slider {
  
  width: 100%;
  height: 33vh;
}

.slider .massage p {

  padding: 0vh 5vh 15vh 5vh;
  height: 140vh;
  width: 90vw;
  font-size: 2.2rem;
  margin-top: 3vh;
  
}
#collaspasbtn {
  margin-left: 64vw;
  font-size: 22px;

}
#collaspasbtn:active{
  font-size: 19px;
}


#icon{
  font-size: 20px;
}
#icon:active{
  font-size: 18px;
}
  .tab {
    height: 44vh;
    width: 80vw;
    align-items: center;
  

  }
  .tab:hover{
    height: 44.2vh;
    width: 80.2vw;
  }
  .tab-contaner {

    height: 150vh;
    width: 100%;
    margin-top: 20vh

  
  }
  .tabimage {
    margin: 0;
    height: 23vh;
    width: 80vw;
   
  }
  
  .tab p {
    height: 15vh;
    width: 70vw;
    font-size: 0.6.5rem;
   text-align: center;
  margin: 0px 2px 2px 26px;
    font-family: "Poppins", sans-serif;
 
    
  }

  .tab h1 {
    text-align: center;
    margin-top: 0vh;
    color: var(--secondary-color);
    font-size: 1.25rem;
  }

  .footer-container {
    width: 100%;
    height: 17vh;
  }

 div.f-text {
    align-items: center;
    height: 5vh;
    color: var(--primary-color);


  }

  /* .tabimage {
    height: 50vh;
    width: 60vw;
line-height: 20px;
  } */
}
